>
    {{#each this}}
    <li class="country-item">
        <img class="contry-img" src="{{flags.svg}}" alt="flag{{name.official}}" width="80">
        <h3 class="country-title" data-name="{{name.official}}">{{name.official}}</h3>
    </li>
    {{/each}}
